In [73]:
import nltk
import pickle
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from  sklearn.decomposition import NMF
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patheffects as PathEffects
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from stop_words import get_stop_words
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
from sklearn.preprocessing import normalize
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [74]:
with open('data/filtered/tripadvisor_filtered_sent_sentiment_score.pkl', 'rb') as picklefile: 
    df_nlp = pickle.load(picklefile)

In [75]:
df_nlp.head(3)

,rev_id,sentence,lem_sent_token,lem_sent_text,0,1,2,3,4,5,...,13,14,15,16,17,18,19,polarity,subjectivity,sent_score
0,0,"Hiking, Food, Fun Love the hiking trails to th...","[hiking, ,, food, ,, fun, love, the, hiking, t...","hiking , food , fun love the hiking trail to t...",0.0,0.0,0.000000,0.0,0.017655,0.002429,...,0.009472,0.000000,0.042854,0.0,0.001253,0.356053,0.066909,0.40000,0.40,0.16000
1,0,Amazing panoramic views are perfect for photos...,"[amaze, panoramic, view, be, perfect, for, pho...",amaze panoramic view be perfect for photo to c...,0.0,0.0,0.014001,0.0,0.000000,0.036762,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.090392,0.80000,0.95,0.76000
2,0,I fell in love with the cows!!,"[i, fell, in, love, with, the, cow, !, !]",i fell in love with the cow ! !,0.0,0.0,0.000000,0.0,0.000000,0.001191,...,0.000000,0.002447,0.000000,0.0,0.000000,0.000000,0.000000,0.78125,0.60,0.46875

In [ ]:
# Topic #0: go, want, wait, ca, way, week, weekend, never, every, tube
# Topic #1: back, come, definitely, next, wait, ca, sure, return, soon, never
# Topic #2: kid, first, lesson, school, instructor, experience, learn, adult, old, snowboard
# Topic #3: recommend, highly, definitely, visit, anyone, return, trip, stay, overall, summer
# Topic #4: mountain, top, ride, big, coaster, trail, gondola, small, bike, side
# Topic #5: snow, condition, make, powder, fresh, even, season, weather, excellent, week
# Topic #6: view, beautiful, top, amazing, spectacular, ride, amaze, fantastic, breathtaking, lake
# Topic #7: love, absolutely, every, winter, come, visit, return, old, son, always
# Topic #8: lift, line, long, wait, chair, short, minute, slow, ride, open
# Topic #9: staff, helpful, super, always, excellent, service, everyone, instructor, rental, extremely
# Topic #10: family, trip, vacation, perfect, whole, friend, wonderful, child, holiday, weekend
# Topic #11: really, enjoy, like, experience, people, everyone, visit, long, overall, need
# Topic #12: area, small, beautiful, large, big, visit, many, base, huge, also
# Topic #13: lot, people, parking, terrain, variety, trail, restaurant, level, activity, different
# Topic #14: get, easy, hour, early, around, crowd, way, minute, busy, gondola
# Topic #15: well, worth, groom, maintain, trail, visit, trip, piste, keep, organize
# Topic #16: much, stay, like, make, people, pretty, see, night, hotel, village
# Topic #17: awesome, experience, overall, wonderful, trip, terrain, powder, instructor, ever, level
# Topic #18: food, restaurant, price, lodge, expensive, service, excellent, bar, also, drink
# Topic #19: beginner, intermediate, blue, trail, level, green, black, expert, terrain, advanced

In [76]:
with open('data/filtered/tripadvisor_filtered_sent_lemm.pkl', 'rb') as picklefile: 
    df= pickle.load(picklefile)

In [29]:
df.head()

,rev_id,sentence,lem_sent_token,lem_sent_text
0,0,"Hiking, Food, Fun Love the hiking trails to th...","[hiking, ,, food, ,, fun, love, the, hiking, t...","hiking , food , fun love the hiking trail to t..."
1,0,Amazing panoramic views are perfect for photos...,"[amaze, panoramic, view, be, perfect, for, pho...",amaze panoramic view be perfect for photo to c...
2,0,I fell in love with the cows!!,"[i, fell, in, love, with, the, cow, !, !]",i fell in love with the cow ! !
3,0,Particularly one that followed us up the hill.,"[particularly, one, that, follow, u, up, the, ...",particularly one that follow u up the hill .
4,0,One of my favorite moments was taking selfies ...,"[one, of, my, favorite, moment, be, take, self...",one of my favorite moment be take selfies with...

In [37]:
df_nlp.head()

,rev_id,sentence,lem_sent_token,lem_sent_text,0,1,2,3,4,5,...,13,14,15,16,17,18,19,polarity,subjectivity,sent_score
0,0,"Hiking, Food, Fun Love the hiking trails to th...","[hiking, ,, food, ,, fun, love, the, hiking, t...","hiking , food , fun love the hiking trail to t...",0.000000,0.000000,0.000000,0.000000,0.017655,0.002429,...,0.009472,0.000000,0.042854,0.000000,0.001253,0.356053,0.066909,0.400000,0.400000,0.160000
1,0,Amazing panoramic views are perfect for photos...,"[amaze, panoramic, view, be, perfect, for, pho...",amaze panoramic view be perfect for photo to c...,0.000000,0.000000,0.014001,0.000000,0.000000,0.036762,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090392,0.800000,0.950000,0.760000
2,0,I fell in love with the cows!!,"[i, fell, in, love, with, the, cow, !, !]",i fell in love with the cow ! !,0.000000,0.000000,0.000000,0.000000,0.000000,0.001191,...,0.000000,0.002447,0.000000,0.000000,0.000000,0.000000,0.000000,0.781250,0.600000,0.468750
3,0,Particularly one that followed us up the hill.,"[particularly, one, that, follow, u, up, the, ...",particularly one that follow u up the hill .,0.074463,0.004183,0.049262,0.000468,0.000000,0.010345,...,0.040240,0.106054,0.024237,0.087311,0.042348,0.031760,0.339076,0.166667,0.333333,0.055556
4,0,One of my favorite moments was taking selfies ...,"[one, of, my, favorite, moment, be, take, self...",one of my favorite moment be take selfies with...,0.081168,0.018816,0.002654,0.004433,0.262880,0.029675,...,0.025467,0.000121,0.000240,0.024346,0.021643,0.000000,0.008281,0.500000,0.833333,0.416667

In [19]:
df_nlp.columns

Index([        'rev_id',       'sentence', 'lem_sent_token',  'lem_sent_text',
                      0,                1,                2,                3,
                      4,                5,                6,                7,
                      8,                9,               10,               11,
                     12,               13,               14,               15,
                     16,               17,               18,               19,
             'polarity',   'subjectivity',     'sent_score'],
      dtype='object')

In [71]:
# topics
# powder: 5
# family: 10
# beginner: 19
# lessons for kids: 2
# scenic views : 6
# food/restaurants: 18
# crowded: 8. Sentiment >0 

for sent_i in np.argsort(df_nlp.loc[:,5])[-5:]:
    
    print(df_nlp.iloc[sent_i,1],": ", df_nlp.iloc[sent_i,26])
    print("-"*30)

up to 3200 meter to guarantee snow. :  0.0
------------------------------
Fun In The Snow Great day on the slopes. :  0.26125
------------------------------
But Where Was The Snow? :  0.0
------------------------------
The snow coverage due to the snow cannons was good. :  0.14015625
------------------------------
Superb snow! :  1.0
------------------------------

In [47]:
df_nlp.columns

Index([        'rev_id',       'sentence', 'lem_sent_token',  'lem_sent_text',
                      0,                1,                2,                3,
                      4,                5,                6,                7,
                      8,                9,               10,               11,
                     12,               13,               14,               15,
                     16,               17,               18,               19,
             'polarity',   'subjectivity',     'sent_score'],
      dtype='object')

In [ ]:
# powder: 5
# family: 10
# beginner: 19
# lessons for kids: 2
# scenic views : 6
# food/restaurants: 18
# crowded: 8. Sentiment >0

In [52]:
# rename columns 
df_out = df_nlp[['rev_id','sentence','polarity','subjectivity', 'sent_score',5,10,19,2,6,18,8]].copy()
df_out.rename(columns={5:'powder',10:'family',19:'beginner',2:'for_kids',
                       6:'scenic_views',18:'food',8:'crowds'},inplace=True)

In [53]:
df_out.columns

Index(['rev_id', 'sentence', 'polarity', 'subjectivity', 'sent_score',
       'powder', 'family', 'beginner', 'for_kids', 'scenic_views', 'food',
       'crowds'],
      dtype='object')

In [56]:
filters = ['powder','family','beginner','for_kids','scenic_views','food','crowds']

for i in filters:
    df_out[i]=df_out[i]*df_out['sent_score']

In [66]:
for sent_i in np.argsort(df_out.loc[:,'food'])[-10:]:
    
    print(df_out.iloc[sent_i,1],": ", df_out.iloc[sent_i,4])
    print("-"*30)

Delicious food. :  1.0
------------------------------
The food in the cafeterias was superb! :  1.0
------------------------------
Food not exceptional...truffle fries delicious :  1.0
------------------------------
The food was delicious. :  1.0
------------------------------
Food not exceptional...truffle fries delicious :  1.0
------------------------------
The food was delicious. :  1.0
------------------------------
In the restsurant is Delicious food !!! :  1.0
------------------------------
They are generous with the portions and the food is delicious. :  1.0
------------------------------
Delicious food on the slopes! :  1.0
------------------------------
The food is delicious in the cafe. :  1.0
------------------------------

In [72]:
df_out = df_out[['rev_id','sentence','powder','family','beginner','for_kids','scenic_views','food','crowds']]

In [ ]:
# grooup by rev_id and calculate the mean ONLY for non-zero values
for f in filters:
    df_out[f] = df_out[f.replace(0, np.NaN)
                       
df_out = df_out.groupby('rev_id')[filters].mean()