In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep

In [45]:
sf = pd.read_csv('../data/tripadvisor_snowforecast_urls.csv')

In [46]:
url_list = sf['snow_forecast'].tolist()

In [47]:
def scrape_resort(url):
    
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    response = requests.get(url, headers=headers)
    search_page = response.text
    soup = BeautifulSoup(search_page,"html5lib")

    slop_stats = soup.find(class_='slope-picture')
    info_list = soup.find(class_='information-list')
    info_list = info_list.find_all('li')
    location = soup.find(class_='seo-line')

    dic = {}
    
    dic['url'] = url

    # slope stats
    dic['top'] = slop_stats.find(class_='top-lift').text.replace('m','')
    dic['vertical_drop'] = slop_stats.find(class_='vertical-drop').text.replace('m','')
    dic['bottom'] = slop_stats.find(class_='bottom-lift').text.replace('m','')

    # info list
    dic['acres_of ski'] = info_list[0].text.replace('Acres of ski:','')
    dic['pistes'] = info_list[1].text.replace('Pistes:','')
    dic['snowmaking'] = info_list[2].text.replace('Snowmaking:','').replace("%",'')
    dic['halfpipes'] = info_list[3].text.replace('Halfpipes:','')
    dic['terrain_parks'] = info_list[4].text.replace('Terrain Parks:','')

    # location
    dic['country'] = location.find_all('a', href=True)[1].text.split(" - ")[0]
    if " - " in location.find_all('a', href=True)[1].text:
        dic['state_region'] = location.find_all('a', href=True)[1].text.split(" - ")[1]
    dic['resort_name'] = location.find(itemprop="name").text
    return(dic)

In [48]:
resorts = []
for url in url_list:
    res_info = scrape_resort(url)
    resorts.append(res_info)
    print(url_list.index(url))
    sleep(0.5)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18
18
21
22
23
24
25
26
27
28
29
30
30
32
33
34
35
36
36
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
97
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
151
153
154
155
156
157
157
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
225
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
247
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
295
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
311
313
314
314
316
317
318
319
320
321
322
323
324
325
326
326
328
329
330
331
332
333
334
335
336
337
338
339
339
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
374
376
377
378
379
380
381
382
383
384
385
386
386
388
389
390
391
392
393
394
395
395
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
423
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
452
454
455
456
457
458
459
460
461
462
463
463
465
466
467

In [49]:
resorts = pd.DataFrame.from_dict(resorts)

In [50]:
resorts = resorts[['url','resort_name','country','state_region','top','bottom','vertical_drop',
                   'acres_of ski','pistes','snowmaking','halfpipes','terrain_parks']]

In [51]:
resorts.head()

,resort_name,country,state_region,top,bottom,vertical_drop,acres_of ski,pistes,snowmaking,halfpipes,terrain_parks
0,Afriski Mountain Resort,Lesotho,NaN,3222,2917,305,10,2,-,-,1
1,Afton Alps,USA,Minnesota,107,0,107,-,-,-,-,-
2,Akakura Onsen,Japan,Niigata,1000,700,300,-,15,-,-,-
3,Alpbachtal,Austria,NaN,2025,813,1212,-,109,78,1,1
4,Alpe d'Huez,France,NaN,3350,1100,2250,583,116,10,-,2

In [52]:
# resorts.to_csv('snowforecast_resort_data.csv')